{% extends 'base.html.twig' %}

{% block body %}
    {{ form(myForm) }}
    {% if selectedFicheFrais !=null %}
    <h1>Fiches de frais de {{ selectedFicheFrais.user.nom }} {{ selectedFicheFrais.user.prenom }} </h1>
    <table class="table">
        <tbody>
        <tr>
            <th>Nom :</th>
            <td>{{ selectedFicheFrais.user.nom }}</td>
        </tr>
        <tr>
            <th>Prénom :</th>
            <td>{{ selectedFicheFrais.user.prenom }}</td>
        </tr>
        <tr>
            <th>Mois de la Fiche :</th>
            <td>{{ selectedFicheFrais.mois }}</td>
        </tr>
        <tr>
            <th>ID Fiche :</th>
            <td>{{ selectedFicheFrais.id }}</td>
        </tr>
        <tr>
            <th>Nombre de Justificatif :</th>
            <td>{{ selectedFicheFrais.nbJustificatifs }}</td>
        </tr>
        <tr>
            <th>Date Modif :</th>
            <td>{{ selectedFicheFrais.dateModif.format('Y-m-d') }}</td>
        </tr>
        <tr>
            <th>ID Etat :</th>
            <td>{{ selectedFicheFrais.etat.id }}
            <th> = </th>
            <td>{{ selectedFicheFrais.etat.libelle }}</td>
        </tr>
        <tr>
            <th>Montant Valide :</th>
            <td>{{ selectedFicheFrais.montantValid }}</td>
        </tr>

        </tbody>
    </table>
    {% endif %}



{% endblock %}